/*BEGIN UK LOGIN PAGE LOGO FIX – SEP 2020*/
a.logo {
                height: 7rem;
}
/*END UK LOGIN PAGE LOGO FIX – SEP 2020*/

/* 7-19-21 External Payment Page height fix begin */
#extPmtPageFrame {
height: 27rem;
}
/* 7-19-21 External Payment Page height fix end */

/* 8-30-21 Guest Pay External Payment Page height fix begin */
 
#guestPay-content #extPmtPageFrame, #guestPay-content #iFrameLoadingIndicator {
height: 24.5rem;
}
/* 8-30-21 Guest Pay External Payment Page height fix end */
